<html>
    <body>
        <h2>Counter</h2>
        <h4><%= count %> times</h4>

        <a href="/plustwo"><button>Plus 2</button></a>
        <a href="/reset"><button>Reset</button></a>
    </body>
</html>